.YearStats {
  padding: 0 0.5em;
  border-radius: 20px;
  /* border: 0.5px solid #ddd;
  background: rgba(255,255,255,0.2); */
  text-align: center;
  display: inline-block;
  font-size: 70%;
}
.YearStats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.YearStats ul li {
  display: inline-block;
  padding: 0;
  margin: 0 10px;
}
.YearStats .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  /* HACK to vertically align */
  top: 3px;
  position: relative;
}