body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(40, 140, 203);
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

form.form {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
}

form label {
  padding: 5px 0;
  /* display: block; */
  display: inline-block;
  /* border: 1px solid blue; */
  margin-right: 10px;
}

hr {
  margin: 20px 0;
  border-color: #ccc transparent transparent transparent;
}

input[type="submit"],
input[type="text"] {
  width: 100%;
}

input[type="text"] {
  line-height: 2.5;
  padding: 0 0.5em;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}
