.Toggle {
  background: #444;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 0 0.5em;
  text-align: center;
  cursor: pointer;
  /* as circle */
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  /* padding: 0; */
  border-radius: 20px;
  display: inline-block;
}
.Toggle.-active {
  background: #90caf9;
  /* border-color: orange; */
}