.YearSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 360px;
  margin: 0 auto;
  /* padding for the stats */
  padding-bottom: 10px;
}
/* 
.YearSummary .month {
} 
*/
.YearSummary .day {
  position: relative;
  /* HACK should match the visualisation */
  width: 20px;
  height: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.YearSummary .day > div {
  position: relative;
  height: 100%;
  z-index: 1;
}
.YearSummary .day .dayNumber {
  position: absolute;
  border: 0.5px solid rgba(0,0,0,0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 100%;
  height: 100%;
  font-size: 6pt;
  box-sizing: content-box;
}
.YearSummary .day.-today .dayNumber {
  border: 1px solid rgba(255,0,0,.5);
}
.YearSummary .day.-weekend .dayNumber {
  background-color: #eee;
}

.Details {
  text-align: center;
  font-size: 80%;
}

.Stats {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  z-index: 2;
}