@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&display=swap');

body, div[class^="rsg--preview-"] {
  font-family: 'Bai Jamjuree', sans-serif;
  background: black;
  color: #fff;
}

.App {
  /* max-width: 400px; */
  margin: 0 auto;
  padding: 15px 10px;
}
